<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  
  <test name="Launch And Navigate">
    <classes>
      <class name="Automation.OrangeHRM.LaunchBrowser"/>
    </classes>
  </test> <!-- Test -->
  
  <test name="Login">
    <classes>
      <class name="Automation.OrangeHRM.Admin.Login"/>
    </classes>
  </test> <!-- Test -->
  
 
</suite> <!-- Suite -->
